<h1>edit post</h1>

<form action="/posts/<%= @post.id %>/edit" method="post">
  <label for="title">Title: </label>
  <input type="text" name="post[title]">

  <br>

  <label>URL: </label>
  <input type="text" name="post[url]" value="<%= @post.url %>">

  <br>

  <label>Content: </label>
  <input type="text" name="post[content]" value="<%= @post.content %>">

  <br>

  <input type="hidden" name="post[user_id]" value="<%= @post.author.id %>">

  <input type="hidden" name="post[sub_id]" value="<%= @post.sub.id %>">

  <input type="submit">
</form>
