<!DOCTYPE html>
<html>
<head>
  <header>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <% if current_user %>
      <%= current_user.user_name %>
      <%= button_to "Logout", session_url(current_user), method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_url, method: :get %>
    <% end %>
  </header>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:messages] %>

  <ul>

    <% flash[:messages].each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>

  </ul>

<% end %>
<%= yield %>

</body>

<footer>
  This is our 99 Cats site. Please browse.

  <%= yield :footer %>
</footer>
</html>
